


.from_destination{
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 10px;
    width: 560px;
    transition: .3s ease;


    &__input{
        display: flex;
        align-items: center;
        height: 55px;
        border-bottom: 1px solid black;
       
       

        input{
            outline: none;
            background-color: transparent;
            border: none;
        }
    }

    &__icons_dest{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        height: 50px;


        &__location_select{
            display: flex;
            align-items: center;
        }
        
       
        &:hover{
            background-color: red;
        }
    }
}