


.from_destination{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 560px;


    &__input{
        display: flex;
        align-items: center;
        height: 70px;
        border-bottom: 1px solid black;
        background-color: blue;

        input{
            outline: none;
            background-color: transparent;
            border: none;
        }
    }

    &__icons_dest{
        display: flex;
        align-items: center;
        border-radius: 10px;
        height: 50px;
       
        &:hover{
            background-color: red;
        }
    }
}